.DS_Store

__pycache__
.ipynb_checkpoints
.vscode

logs/
runs/
proto_runs/
results/measurements_no_m
results/measurements_new_m
results/old_measurements
data/

scripts/parsl/
scripts/.scripts/
scripts/parsl_scripts/

notebooks/plots/